@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --bg: rgb(255, 255, 255);
    --text-color: #000000;
    --icon-color: #000000;
    --checkbtn-color: rgb(19, 19, 19);
    --sidenav-color: #000000;
    --sidenav-txt-color: #ffffff;
    --gradient: linear-gradient(to right, rgba(28, 216, 210, 1), rgba(0, 101, 255, 1));
    --gradient-glass: linear-gradient(to right, rgba(28, 216, 210, 0.2), rgba(0, 101, 255, 0.2));
    /* --gradient-glass: linear-gradient(to right, rgba(0, 255, 0, 0.2), rgba(128, 0, 128, 0.2)); */

}

section .details,
.experience-education,
.skills,
.projects,
.project2,
.project3,
.threeD-gallery {
    padding: 80px 10%;
}

@media (max-width:820px) {

    section .details,
    .experience-education,
    .skills,
    .projects,
    .project2 {
        padding: 80px 2%;
    }
}

.title {
    text-align: center;
    font-size: 35px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* NAV-BAR  */

.navbar {
    background-color: var(--bg);
    width: 100%;
    height: 70px;
    padding: 0 88px 0 88px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 3px;
    margin-right: 6rem;
    background: var(--gradient);
}


/* Adding padding to the body to create space for the fixed navbar */
body {
    padding-top: 80px;
}

.navbar .img-logo {
    width: 120px;
    margin: 9px 0px 0px 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar .nav-ul {
    float: right;
    list-style: none;
}

.navbar .nav-ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

.navbar .nav-ul li a {
    color: var(--text-color);
    font-weight: bold;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: var(--checkbtn-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 952px) {
    .img-logo {
        font-size: 30px;
        padding-right: 50px;
    }

    .navbar .nav-ul li a {
        font-size: 10px;
    }
}

@media (max-width: 858px) {
    .navbar {
        padding: 0;
    }

    .navbar::after {
        display: none;
    }


    .checkbtn {
        display: block;
    }

    .nav-ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--sidenav-color);
        top: 80px;
        left: -100%;
        text-align: right;
        transition: all .5s;
    }

    .navbar .nav-ul li {
        display: block;
    }

    .navbar .nav-ul li a {
        font-size: 20px;
        color: var(--sidenav-txt-color);
    }

    #check:checked~.nav-ul {
        left: -50%;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* DETAILS  */

.details {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    bottom: 0%;
    /* background: linear-gradient(183deg, rgb(49, 49, 49), transparent, rgb(255, 255, 255)); */

}

.details .pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #000;
    padding: 3px;
}

.details .text {
    padding-top: 40px;
    /* padding-left: 20px; */
}

.details .text .text_p1 {
    font-size: 18px;
    line-height: 15px;
}

.details .text .text_p2 {
    font-size: 25px;
    line-height: 9px;
    margin-bottom: 20px;
}

.auto-type {
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
}

.wave-emoji {
    font-size: 35px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 5px;
}

.wave-emoji {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.details .text .text_p3 {
    font-size: 20px;
}

.details .text .name {
    font-size: 50px;
    margin-bottom: 20px;
}

#exp-years {
    font-weight: bold;
}

/* DETAILS - BUTTONS */

.btn-container {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
    font-size: 12px;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

/* DETAILS - SOCIAL-ICON */

.details .social-icon {
    font-size: 40px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30%;
}

/* Levitating effect on hover */
.details .social-icon a i {
    color: var(--icon-color);
    transition: color 0.5s, transform 0.5s;
}

.details .social-icon a i:hover {
    color: var(--gradient);
    transform: translateY(-20px);
}


.props {
    position: absolute;
    cursor: none;
    z-index: -1;
}

.pencil-stroke-image {
    width: 140px;
    top: 120px;
    left: 7%;
}

.middle-arrow-image {
    width: 160px;
    top: 250px;
    left: 38%;
}

.arrow-image {
    width: 200px;
    top: 650px;
    left: 5%;
}

.brush-stroke-image {
    width: 160px;
    top: 500px;
    right: 15%;
}

@media (max-width: 1000px) {
    .props {
        display: none;
    }

}

@media (max-width: 768px) {

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 1rem;
        bottom: 0%;
        min-height: 80vh;
        padding: 12px;
    }

    .details .text,
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details .pic img {
        width: 150px;
        height: 150px;
    }

    .details .text .name {
        font-size: 30px;
    }

    .details .text .text_p1,
    .text_p2 {
        font-size: 16px;
    }

    .details .text .text_p3 {
        font-size: 18px;
        text-align: center;
    }

    .details .social-icon {
        margin-left: auto;
        margin-right: auto;
    }

    .wave-emoji {
        font-size: 25px;
    }

    .auto-type {
        font-size: 25px;
    }

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* EXOERIENCE-EDUCATION */
.experience-education {
    position: relative;
    padding: 25px 10rem 10rem 10rem;
}

/* .experience-education::before {
    content: '';
    background-color: rgb(183, 255, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
} */

.exp-edu-about-containers {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.stack-content {
    padding: 0 1.5rem;
    border-left: 4px solid #4d4b4b;
}

.stack-content h4 {
    color: #808080;
}

.recognition {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border: 2px solid rgb(29, 28, 28);
    border-radius: 30px;
    padding: 10px;
}

.recognition a {
    color: inherit;
    text-decoration: none;
}


.recognition:hover {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
}

.exp-detail-container,
.edu-detail-container {
    padding: 1rem;
    /* max-width: 900px; */
    text-align: left;
    background: var(--gradient-glass);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    max-width: 50%;
}

/* .edu-detail-container {
    padding: 1.5rem;
    flex: 1;
    text-align: left;
    background: var(--gradient-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
} */

.box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    background-color: #ffffff;
    transition: all 0.4s;
    margin-bottom: 20px;

}

.box h3 {
    font-size: 18px;
}

.box:hover {
    box-shadow: 0px 3px 12px 0px #000000;
    border: 1px solid transparent;
}

.box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 16.5px);
    top: 0;
    background-color: #020202;
    border: 2px solid rgb(0, 0, 0);
}

.content .exp-edu-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 10px 0 20px;
    margin-top: 10px;
    border-top: 2px black solid;
}

.content li {
    margin-bottom: 8px;
    font-size: 15px;
}

/* Responsive media queries */
@media (max-width: 1110px) {
    .experience-education {
        display: flex;
        padding: 25px;
        align-items: center;
    }

    .exp-edu-about-containers {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        justify-content: center;
    }
}

@media (max-width: 870px) {
    .experience-education {
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        justify-content: center;
    }

    .exp-edu-about-containers {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .exp-detail-container,
    .edu-detail-container {
        min-width: 100%;
    }

    .content .exp-edu-ul {
        padding: 10px 1rem;
    }

    .content li {
        font-size: 12px;
    }

    .box h3,
    .box .years {
        font-size: 15px;
    }

    .box .years,
    .stack-content h4 {
        font-size: 12px;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* SKILL SECTION */

.skills {
    position: relative;
    /* padding: 0 10rem; */
    /* background-image: url(images/pngtree-holographic-gradient-3d-line-horizontal-map-colorful-png-image_6287657.png); */
    /* background-color: rgb(255, 0, 0); */
}


.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.about-containers {
    display: flex;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;

    background: var(--gradient-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.skills-sub-title {
    color: var(--text-color);
    font-weight: bolder;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}


.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: flex-start;
}

article {
    display: flex;
    width: 15rem;
    gap: 0.5rem;
    align-items: baseline;
}

@keyframes zoom {

    0%,

    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);

    }
}

article .icon {
    cursor: default;
    font-size: 40px;
    animation: zoom 2s alternate infinite;
}

@media (max-width: 768px) {
    .skills {
        padding: 0 2rem;
    }

    .skills-sub-title {
        font-size: 1rem;
    }

    .details-container {
        width: 5px;
        padding: 5px;
    }

    .article-container {
        justify-content: center;
    }


    article {
        font-size: 12px;
    }

    article .icon {
        font-size: 25px;
    }

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PROJECT */
.projects {
    position: relative;
    padding: 55px 10rem;
    min-width: 100vh;
}

.project-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-card-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    overflow: hidden;
}


.project-details-container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;

    background: var(--gradient-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.project-details-container {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: #000000 2px solid;

}

.project-details-container .project-image {
    border: #000000 2px solid;
    border-radius: 6px;
}

.slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 390px;
    height: 330px;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 11rem);
    top: 0;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    left: 100px;
    cursor: pointer;
}

#next {
    left: unset;
    right: 100px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.project2-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.project2-card {
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* Adjust padding for smaller cards */
    border: #000000 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project2-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    text-align: center;
}

@media (max-width: 820px) {
    .project2-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project2-card {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .project2-grid-container {
        grid-template-columns: 1fr;
    }

    .project2-card {
        padding: 2px;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.project3-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.project3-card {
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: #005eff 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background: #000000;
}

.project3-details {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 14px;
    text-align: center;
}

.project-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: flex-start;
    gap: 0.5rem;
    color: #fff;
}

.project-info p {
    text-align: left;

}

.project3-details img {
    width: 100px;
    height: 100px;
}

.project-icon {
    display: flex;
    font-size: 30px;
    flex-direction: column;
}

@media (max-width: 820px) {
    .project3-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project3-details {
        flex-direction: column;
    }

    .project-icon {
        flex-direction: row;
    }

    .project3-details img {
        width: 100%;
        object-fit: cover;
    }

    .project3-card {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .project3-grid-container {
        grid-template-columns: 1fr;
    }

    .project3-card {
        padding: 2px;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 3D */
.threeD-gallery {
    background-color: #000000;
    padding: 80px 5%;
}

#title-3d {
    color: #eaeaea;
    padding-bottom: 25px;
}

.threeD-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    background-color: rgb(0, 0, 0);
}

.threeD-container .threeD-image-box {
    display: flex;
    align-items: center;
}

.threeD-container .threeD-image-box img,
.threeD-container .threeD-image-box video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CONTACT */


.contact {
    padding: 80px 5%;
}

.contact-container {
    max-height: 100vh;
    display: grid;
    justify-content: center;
    background: #000000;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    background: rgb(52, 52, 52);
    padding: 30px;
    color: #fff;
    font-size: 40px;
    border: #fff 1px solid;
    border-radius: 10px;
}

/* CONTACT - SOCIAL-ICON */

.contact-social-icon {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30%;
    margin-top: 20px;
    border-top: #ffffff 2px solid;
    border-bottom: #ffffff 2px solid;
}

.contact-social-icon a:link {
    color: #ffffff;
    text-decoration: none;
}

.contact-social-icon a:visited {
    color: #ffffff;
    text-decoration: none;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #f5f5ff;
    font-size: 14px;
    border-radius: 10px;
}

form button {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.1s;
}

form button:hover {
    cursor: pointer;
}

form button:active {
    transform: scale(0.95);
    border: 2px solid rgb(255, 255, 255);
}

.my-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.bio {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.bio a {
    margin-right: 10px;
    color: #fff;
}

.bio h3 {
    font-size: 20px;
    margin: 0;
    color: #fff;
}

@media (max-width:800px) {
    .contact {
        padding: 80px 0;
    }

    .contact-container {
        grid-template-columns: repeat(1, 1fr);
    }

    form {
        padding: 12px;
        font-size: 12px;
    }

    /* CONTACT - SOCIAL-ICON */

    .contact-social-icon {
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 5px 30%;
        margin-top: 20px;
    }

    form input,
    form textarea {
        padding: 4px;
        font-size: 12px;
        border-radius: 8px;
    }

    form button {
        padding: 8px;
    }

    .bio {
        margin-bottom: 10px;
    }

    .bio a {
        margin-right: 10px;
        color: #fff;
    }

    .bio h3 {
        font-size: 15px;
        margin: 0;
        color: #fff;
    }
}